@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

section.hero.is-bold {
    background-image: url("https://images.spot.im/v1/production/d7tzttp1xmbfyebvnt6u");
    background-size: cover;
    background-position: center center;
}
/* body {
    background-color: white;
}
 */

